<%- includes('../components/header.ejs') %>
<body class="m-0 p-0">
  <div id="app-root">
    <!-- WIP Dont include before initial testing -->
    <!-- {{ content }} -->

    <%- include('./layout/web_layout.ejs') %>
  </div>
</body>
<%- includes('../components/footer.ejs') %>
